Menu{color: aqua;text-align: center; border:0.1cm;
    margin:0cm;padding:0.1cm;width:3cm;border-style:solid;
    background-color:orange;border-color:orange;margin-left: auto;
    margin-right: auto;


}
.Assignment{text-align: center;color:blue}